.header {
    position: sticky;
    background-color: #f0f0f0;
    top: -1px;
    z-index: 1000;

    // .header__container

    &__container {
        position: relative;
        padding-top: 31px;
        transition-duration: 0.3s;
        background-color: #f0f0f0;
        z-index: 5;

        &.shrink {
            padding-top: 20px;
            padding-bottom: 15px;
            transition-duration: 0.3s;

            .header__inner {
                transition-duration: 0.3s;
                min-height: 90px;
            }

            @media (max-width: 1212.98px) {
                padding-bottom: 0;

                .header__inner {
                    min-height: 45px;
                }
            }
        }
    }

    // .header__inner

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 114px;
        transition-duration: 0.3s;

        @media (max-width: 1212.98px) {
            min-height: 59px;
        }
    }

    // .header__top-section

    &__top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__bottom-section

    &__bottom-section {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-grow: 1;
        max-height: 54px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 100%;
            background-color: #e3e3e3;
            height: 1px;
            width: 100%;
        }

        @media (max-width: 1212.98px) {
            flex-grow: 0;
        }
    }
}

.top {

    // .top__search-button

    &__search-button {
        max-width: 221px;
        width: 100%;
        position: relative;

        @media (max-width: 1212.98px) {
            max-width: 34px;
        }
    }

    // .top__logo

    &__logo {}

    // .top__actions

    &__actions {
        display: flex;
        column-gap: 22px;
    }

    .navigation-burger {
        display: none;

        @media (max-width: 1212.98px) {
            display: block;
            position: relative;
            height: 34px;
            flex: 0 0 34px;
            width: 100%;

            &::after,
            &::before,
            span {
                content: "";
                position: absolute;
                left: 5px;
                width: 30px;
                height: 3px;
                border-radius: 5px;
                background-color: #1e2832;
                transition-duration: 0.3s;
            }

            span {
                top: 50%;
            }

            &::after {
                top: 70%;
            }

            &::before {
                top: 30%;
            }
        }

        &.active {
            span {
                transform: scale(0);
            }

            &::after {
                transform: rotate(45deg);
                top: 50%;
            }

            &::before {
                transform: rotate(-45deg);
                top: 50%;
            }

            &+.navigation-block {
                transform: translateX(0%);
                transition-duration: 0.3s;
            }
        }
    }
}

.search {
    font-family: "Roboto", sans-serif;
    // .search__button

    &__button {
        background: url(../img/header/top-section/search.svg) center no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        left: 4.5px;
    }

    // .search__hidden

    &__hidden {
        visibility: hidden;
    }

    // .search__input

    &__input {
        padding: 4.5px 4.5px 4.5px 32px;
        width: 255px;
        border-radius: 8px;
    }

    &__input:focus-visible {
        outline: gray solid 2px;
    }
}

.action {
    color: #1e2832;

    @media (max-width: 1212.98px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        row-gap: 15px;
        top: 15px;
        left: 22px;
    }

    // .action__link

    &__link {
        transition-duration: 0.3s;

        @media (any-hover:hover) {
            &:hover {
                color: $hov-color;
                transition-duration: 0.3s;
            }
        }
    }

    // .action__item

    &__item {
        vertical-align: middle;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 116.666667%;
        /* 21/18 */

        &::before {
            font-size: 20px;
            margin-right: 8px;
            padding: 2.5px;
        }
    }
}

.bottom {
    @media (max-width: 1212.98px) {
        display: none;
    }
}

.navigation-block {
    @media (max-width: 1212.98px) {
        position: absolute;
        top: 90%;
        right: 0;
        transform: translateX(100%);
        z-index: 1;
        transition-duration: 0.3s;
    }

    // .navigation-block__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px 58px;

        @media (max-width: 1351.98px) {
            column-gap: 35px;
        }

        @media (max-width: 1212.98px) {
            flex-direction: column;
            row-gap: 15px;
            min-width: 250px;
            background-color: #f0f0f0;
            padding: 90px 70px 20px 30px;
            border-radius: 0 0 0 10px;
        }
    }

    // .navigation-block__item

    &__item {
        line-height: 150%;
        /* 24/16 */
        transition-duration: 0.3s;

        @media (any-hover:hover) {
            &:hover {
                color: $hov-color;
                transition-duration: 0.3s;
            }
        }
    }

    // .navigation-block__link

    &__link {}
}