/* RESET */
@import url(reset.css);

/* FONTS */
@import url(fonts.css);

body {
    font-family: "Proxima Nova";
    background-color: #F8F8F8;
}
/* --- */
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}

/* HEADER */

[class*="__container"] {
    max-width: 1320px;
    padding: 15px 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* top */

.header {
    color: #535353;
    margin-bottom: 30px;
}
.header li {
    transition-duration: 0.2s;
}
.header li:hover {
    color: #e78e08d0;
    transition-duration: 0.2s;
}
.top-block {
    max-width: 1320px;
    padding: 15px 15px;
    margin: 0 auto;
    display: flex;
    line-height: 187.5%; /* 30/16 */
    justify-content: space-between;
    gap: 3px  30px;
    flex-wrap: wrap;
}
[class*="top-block__"] {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
}
.top-block__navigation {
    max-width: 560px;
    gap: 3px 30px;
}
.top-block__inform {
    max-width: 394px;
    gap: 5px 30px;
    align-items: center;
}
.top-block__items {
    max-width: 314px;
    column-gap: 20px;
}
.top-block__messengers {
    column-gap: 10px;
    max-width: 190px;
    row-gap: 5px;
    /* навіщо? а додайте пару значків месенджерів */
}
.top-block__messengers > a {
    transition-duration: 0.34s;
}
.top-block__messengers > a > img {
    width: 100%;
}
.top-block__messengers > a:hover {
    transform: scale(1.17);
    transition-duration: 0.4s;
}
.language-switch {
    font-size: 19px;
    line-height: 126.315789%; /* 24/19 */
    font-weight: 600;
    transition-duration: 0.4s;
}
.language-switch:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
    color: rgb(39, 39, 39);
}
.language-switch::after {
    content: " ";
    display: inline-block;
    vertical-align: bottom;
    background-image: url(../img/header/top-block/arrow.svg);
    height: 24px;
    width: 24px;
    transition-duration: 0.4s;
    transform: rotate(180deg);
}
.language-switch:hover::after {
    transform: rotate(0deg);
    transition-duration: 0.4s;
}

/* middle */

.middle-block {
    background-color: #fff;
    margin-bottom: 2px;
    /* лінію зробив відступом оскільки в макеті лінія доходить до краю в'юпорта */
}
.middle-block__container {
    padding: 25px 15px;
    gap: 5px 30px;
}
.logo-menu {
    display: flex;
    column-gap: 34px;
    align-items: center;
    flex-basis: 429px;
}
.logo {
    max-width: 250px;
    width: 100%;
}
/* --- */
[class*="button-"] {
    text-align: center;
    background-color: #ffbc57;
    border-radius: 8px;
    padding: 11px 20px 11px 54px;
    position: relative;
    font-size: 19px;
    line-height: 126.315789%; /* 24/19 */
    color: #fff;
    transition: all 0.3s;
    min-width: 145px;
}
.button-close:hover {
    background-color: #e78e08;
    transition: all 0.3s;
}
.button-close::before {
    content: url(../img/header/middle-block/catalogue-button.svg);
    position: absolute;
    left: 20px;
    top: 11px;
}
.button-close:target {
    display: inline-block;
}
.button-open:hover {
    background-color: #e78e08;
    transition: all 0.3s;
}
.button-open::before {
    content: url(../img/header/middle-block/close-catalog-button.svg);
    position: absolute;
    left: 20px;
    top: 11px;
}
.button-open {
    display: none;
}
.button-open:target {
    display: inline-block;
}
.button-open:target + .button-close {
    display: none;
}
/* --- */
.search-input-window {
    min-width: 421px;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    padding: 10px 15px;
    position: relative;
}
.search-input-window:hover::after {
    transform: scale(1.3);
    transition-duration: 0.3s;
}
.search-input-window p {
    line-height: 187.5%; /* 30/16 */
    color: #b1b1b1;
}
.search-input-window::after {
    content: url(../img/header/middle-block/search.svg);
    position: absolute;
    top: 13px;
    left: 382px;
    transition-duration: 0.3s;
}
.contacts {
    flex-shrink: 0;
    max-width: 230px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.contacts:hover .contacts__icon {
    animation: call 1s linear 1;
}
@keyframes call {
    0% {}
    25% {
        rotate: -5deg;
        scale: 1.13;
    }
    50% {
        rotate: 5deg;
    }
    75% {
        rotate: -5deg;
        scale: 1.13;
    }
    100% {
        rotate: 5deg;
    }
}
.contacts:hover .number {
    color: #c77700;
    transition-duration: 0.2s;
}
.contacts:hover::after {
    transform: rotate(180deg);
    transition-duration: 0.4s;
}
.contacts::after {
    content: url(../img/header/middle-block/arrow.svg);
    transition-duration: 0.2s;
}
.contacts__items > p {
    font-size: 13px;
    line-height: 169.230769%; /* 22/13 */
    font-weight: 200;
    flex-grow: 0;
}
.number {
    font-size: 20px;
    line-height: 140%; /* 28/20 */
    font-weight: 600;
    transition-duration: 0.2s;
}
.store-items {
    display: flex;
    column-gap: 20px;
    flex-basis: 120px;
    flex-wrap: wrap;
}
.store-items img {
    max-width: 50px;
    transition-duration: 0.2s;
}
.store-items img:hover {
    background-color: #e9981e31;
    border-radius: 100%;
    transform: scale(1.1);
    transition-duration: 0.2s;
}

/* bottom */

.bottom-block {
    background-color: #FFF;
}
.bottom-block__container {
    column-gap: 30px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    font-size: 19px;
    line-height: 126.315789%; /* 24/19 */
    font-weight: 600;
}
.offers {
    max-width: 464px;
}
.offers__list {
    display: flex;
    gap: 3px 40px;
    flex-wrap: wrap;
}
.offers__link {
    column-gap: 10px;
    display: flex;
    align-items: flex-start;
}
.offers__link--gap {
    column-gap: 5px;
}
.offers__link img {
    max-width: 24px;
}
/* --- */
.catalogue {
    max-width: 715px;
}
.catalogue-list {
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
}

/* PAGE */
.page {
    margin-bottom: 80px;
}
.categories-container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.categories-container__title {
    font-size: 40px;
    line-height: 120%; /* 48/40 */
    font-weight: 600;
    color: #2B2929;
    margin-bottom: 40px;
}
.categories-container__items {
    max-width: 1290px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 10px;
}
.catalogue-card {
    max-width: 250px;
    flex-basis: 250px;
    border-radius: 8px;
    box-shadow: -3px 4px 15px 0 rgba(0,0,0,.06);
    background-image: url(../img/page/categories/items-card/card-back.jpg);
    position: relative;
    transition-duration: 0.2s;
}
.catalogue-card:hover {
    box-shadow: -3px 4px 15px 4px rgba(0, 0, 0, 0.199);
    transition-duration: 0.2s;
    /* transform: scale(1.008); */
}
.catalogue-card:hover h3 {
    color: #c77700;
    transition-duration: 0.2s;
}
.catalogue-card:hover::after {
    background-color: #e78e0841;
    border-radius: 100%;
    transition-duration: 0.2s;
}
.catalogue-card::after {
    content: " ";
    background-image: url(../img/page/categories/items-card/arrow.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 230px;
    left: 180px;
    transition-duration: 0.2s;
}
.catalogue-card__title {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    max-width: 210px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    line-height: 140%; /* 28/20 */
    font-weight: 600;
}
.catalogue-card__title h3 {
    color: #2B2929;
    transition-duration: 0.2s;
}
.catalogue-card__title span {
    color: #b1b1b1;
}
.catalogue-card__picture {
    width: 100%;
    max-width: 250px;
}
/* --- */
.popular-container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}
.popular-container__header {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-bottom: 40px;
}
.title {
    font-size: 40px;
    line-height: 120%; /* 48/40 */
    font-weight: 600;
    color: #2B2929;
}
.link {
    font-size: 19px;
    line-height: 126.315789%; /* 24/19 */
    font-weight: 600;
    color: #FFBC57;
    transition-duration: 0.2s;
}
.link:hover {
    color: #c77700;
    transition-duration: 0.2s;
}
.link::after {
    content: " ";
    background: url(../img/page/popular/arrow.svg) 0 0 / 100% no-repeat;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}
.link:hover::after {
    color: #dd8500;
    animation: translate 0.2s ease infinite alternate;
}
@keyframes translate {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(2px, -2px);
    }
}
.popular-container__items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.product-card {
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e3e2e2;
    padding: 20px;
    box-shadow: -3px 4px 15px 0 rgba(0,0,0,.06);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transition-duration: 0.2s;
}
.product-card:hover {
    box-shadow: -3px 4px 15px 0 rgba(0, 0, 0, 0.322);
    transition-duration: 0.2s;
}
.product-card:hover h3 {
    color: #c77700;
    transition-duration: 0.2s;
}
.product-card h3 {
    transition-duration: 0.2s;
}
.product-card__picture {
    border-radius: 8px;
    width: 100%;
    max-height: 220px;
    flex-basis: 260px;
}
.specifications {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    min-height: 118px;
    justify-content: space-between;
}
.specifications__size {
    font-size: 13px;
    line-height: 169.230769%; /* 22/13 */
    font-weight: 200;
    color: #535353;
}
.specifications__name {
    font-size: 19px;
    line-height: 126.315789%; /* 24/19 */
    font-weight: 600;
    color: #2B2929;
}
.specifications__check {
    font-size: 13px;
    line-height: 169.230769%; /* 22/13 */
    font-weight: 200;
    color: #2B2929;
}
.specifications__check::before {
    content: "";
    background: url(../img/page/popular/product-card/items/check.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}
.product-card__items {
    display: flex;
    column-gap: 10px;
    min-width: 260px;
    justify-content: space-between;
}
.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price__sale {
    font-size: 15px;
    line-height: 146.666667%; /* 22/15 */
    color: #e03d3d;
    text-decoration: line-through;
}
.price__actual {
    font-size: 20px;
    line-height: 140%; /* 28/20 */
    font-weight: 600;
    color: #2B2929;
}
.save-to {
    display: flex;
    column-gap: 10px;
    flex-shrink: 0;
}
.save-to img {
    max-width: 50px;
    width: 100%;
    transition-duration: 0.2s;
    border-radius: 100%;
}
.save-to img:hover {
    transform: scale(1.12);
    box-shadow: 0 0 9px 1px #c777007c;
    transition-duration: 0.2s;
}

/* FOOTER */

.promotions-container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.promotions-container__header {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.promotions-container__items {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 46px;
}
.promotions-container__header-slide {
    display: flex;
    column-gap: 20px;
}
.promotions-container__header-slide a {
    max-width: 60px;
    transition-duration: 0.2s;
    border-radius: 100%;
}
.promotions-container__header-slide a:hover  {
    transform: scale(1.12);
    transition-duration: 0.2s;
    box-shadow: 0 0 9px 1px #c777007c;
}
.left {
    background: url(../img/footer/arrow-left.svg);
    width: 60px;
    height: 60px;
}
.right {
    background: url(../img/footer/arrow-right.svg);
    width: 60px;
    height: 60px;
}
.overflow {
    overflow: clip;
}
.slides {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    transform: translateX(-445px);
    transition: all 4s;
}
.slides img {
    border-radius: 8px;
    max-width: 410px;
}
.slides:hover {
    animation: slide 4s ease-in-out infinite alternate;
}
@keyframes slide {
    0% {}
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(-850px)
    }
}
