/* RESET */
@import url(reset.css);

/* FONTS */

/* плагін */
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700&display=swap");

/* посилання */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

/* локально */
@import url(fonts.css);

main,
footer {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    color: #2b2929;
}

/* випробував усі значення але в style залишив ті значення які виглядали або прикольно або кумедно =D не зараховуйте як помилку =.( */

/* HEADER */

.header {
    font-family: "Plus jakarta Sans", monospace;
    font-weight: 500;
}

h1 {
    font-size: 27px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.big-list {
    font-weight: 700;
    text-transform: capitalize;
    color: brown;
    text-align: right;
}

.list {
    font-style: italic;
    color: yellowgreen;
    text-align: right;
}

.text {
    font-size: 18px;
    line-height: 177.777778%; /* 32/18 */
    text-decoration: underline;
    color: blueviolet;
    letter-spacing: 3px;
    text-align: center;
}

.text__description {
    font-family: "Kanit";
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 138.888889%; /* 25/18 */
    text-shadow: 3px 4px 6px #808080;
    text-align: justify;
}

.through {
    text-decoration: line-through;
    text-decoration-color: red;
}

h3 {
    font-size: 34px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 800;
    color: red;
    text-shadow: 3px 4px 8px rgba(165, 42, 42, 0.5);
}

/* PAGE */

.page-one-title {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    line-height: 120%; /* 48/40 */
}

.page-one-text,
.page-one-list {
    text-align: left;
    line-height: 187.5%; /* 30/16 */
}

/* FOOTER */

.page-one-list-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%; /* 28/20 */
    text-align: left;
}

.image {
    text-align: center;
}

