@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.header {
  position: sticky;
  background-color: #f0f0f0;
  top: -1px;
  z-index: 1000;
}
.header__container {
  position: relative;
  padding-top: 31px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #f0f0f0;
  z-index: 5;
}
.header__container.shrink {
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header__container.shrink .header__inner {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  min-height: 90px;
}
@media (max-width: 1212.98px) {
  .header__container.shrink {
    padding-bottom: 0;
  }
  .header__container.shrink .header__inner {
    min-height: 45px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 114px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 1212.98px) {
  .header__inner {
    min-height: 59px;
  }
}
.header__top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: 54px;
}
.header__bottom-section::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  background-color: #e3e3e3;
  height: 1px;
  width: 100%;
}
@media (max-width: 1212.98px) {
  .header__bottom-section {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.top__search-button {
  max-width: 221px;
  width: 100%;
  position: relative;
}
@media (max-width: 1212.98px) {
  .top__search-button {
    max-width: 34px;
  }
}
.top__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
}
.top__logo img {
  aspect-ratio: 180/34;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.top__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
.top .navigation-burger {
  display: none;
}
@media (max-width: 1212.98px) {
  .top .navigation-burger {
    display: block;
    position: relative;
    height: 34px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 34px;
            flex: 0 0 34px;
    width: 100%;
  }
  .top .navigation-burger::after, .top .navigation-burger::before,
  .top .navigation-burger span {
    content: "";
    position: absolute;
    left: 5px;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #1e2832;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .top .navigation-burger span {
    top: 50%;
  }
  .top .navigation-burger::after {
    top: 70%;
  }
  .top .navigation-burger::before {
    top: 30%;
  }
}
.top .navigation-burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.top .navigation-burger.active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}
.top .navigation-burger.active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}
.top .navigation-burger.active + .navigation-block {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.search {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.search__button {
  background: url(../img/header/top-section/search.svg) center no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4.5px;
}
@media (max-width: 768.98px) {
  .search__button {
    top: -12px;
  }
}
.search__hidden {
  visibility: hidden;
}
.search__input {
  padding: 4.5px 4.5px 4.5px 32px;
  width: 255px;
  border-radius: 8px;
}
@media (max-width: 768.98px) {
  .search__input {
    padding: 4.5px 4.5px 4.5px 4.5px;
    position: absolute;
    top: 15px;
  }
}
.search__input:focus-visible {
  outline: gray solid 2px;
}

.action {
  color: #1e2832;
}
@media (max-width: 1212.98px) {
  .action {
    position: absolute;
    top: 15px;
    left: 22px;
  }
}
.action__link {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (any-hover: hover) {
  .action__link:hover {
    color: #FF6F61;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}
.action__item {
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 116.666667%;
  /* 21/18 */
}
.action__item::before {
  font-size: 20px;
  margin-right: 8px;
  padding: 2.5px;
}

@media (max-width: 1212.98px) {
  .bottom {
    display: none;
  }
}

@media (max-width: 1212.98px) {
  .navigation-block {
    position: absolute;
    top: 90%;
    right: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    z-index: 1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}
.navigation-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px 58px;
}
@media (max-width: 1351.98px) {
  .navigation-block__list {
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
}
@media (max-width: 1212.98px) {
  .navigation-block__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    min-width: 250px;
    background-color: #f0f0f0;
    padding: 60px 70px 20px 30px;
    border-radius: 0 0 0 10px;
  }
}
.navigation-block__item {
  line-height: 150%;
  /* 24/16 */
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (any-hover: hover) {
  .navigation-block__item:hover {
    color: #FF6F61;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 84.375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.page {
  font-size: 70px;
}