@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.header {
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.9375rem;
  min-height: 9rem;
  row-gap: 1.5rem;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
.header__container *:focus-visible {
  outline: 2px solid grey;
  border-radius: 0.3125rem;
}
.header__container.shrink {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  row-gap: 0.875rem;
  min-height: 6rem;
  padding-top: 1.25rem;
}
.header__container.shrink .bottom {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.header__container.shrink .bottom__list {
  row-gap: 0.625rem;
}

.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 2.125rem;
}
.top__form {
  max-width: 13.8125rem;
  width: 100%;
}
.top__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.25rem;
          flex: 0 0 11.25rem;
  max-width: 11.25rem;
}
.top__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 180/34;
  width: 100%;
  height: 100%;
}
.search {
  position: relative;
}
.search__button {
  background: url(../img/header/top-section/search.svg);
  position: absolute;
  top: 0.28125rem;
  left: 0.28125rem;
  width: 1.5625rem;
  height: 1.5625rem;
}
.search__hidden {
  visibility: hidden;
}
.search__input {
  height: 34px;
  padding: 0.28125rem 0.28125rem 0.28125rem 1.84375rem;
  border-radius: 0.3125rem;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.375rem;
     -moz-column-gap: 1.375rem;
          column-gap: 1.375rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.1666;
  color: #1e2832;
}
.actions__link {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (any-hover: hover) {
  .actions__link:hover {
    color: #FF6F61;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}
.actions__link::before {
  font-size: 1.25rem;
  line-height: 0.95;
  margin-right: 0.65625rem;
  vertical-align: middle;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem 3.604375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bottom__list::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  background-color: #e3e3e3;
  height: 1px;
  width: 100%;
}
.bottom__item {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  /* 24/16 */
  text-transform: capitalize;
}
.bottom__link {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (any-hover: hover) {
  .bottom__link:hover {
    color: #FF6F61;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 84.375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.page {
  font-size: 85px;
}