/* RESET */
@import url(reset.css);

/* розумію, що ми ще не вчили padding, але на моїй сторінці тег зірочка було 
зручно використати саме з ним, сорі =) */
* {
    padding-bottom: 10px;
}

p {
    color: navy;
}

/* .blue {
    color: #0066ff;
} */

.yellow {
    color: #ffae00;
}


h2 {
    color: brown;
}

#link-color {
    color: red;
}

[class*="lue"] {
    color: #0066ff;
}