/* RESET */

@import url(reset.css);

/* FONTS */
@import url(fonts.css);

.header {
    font-family: "Proxima Nova";
}

/* HEADER */

.header__container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 33px 0;
    text-align: center;
}
h1 {
    font-size: 24px;
    line-height: 125%; /* 30/24 */
    font-weight: 700;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(18,55,175,1) 44%, rgba(255,0,0,1) 61%);
    background-clip: text;
    color: transparent;
    margin-left: -41px;
}
.blocks__container {
    font-size: 0;
    max-width: 1600px;
    margin: 0 auto;
}
.blocks__container div {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-right: 40px;
    font-size: 20px;
    line-height: 130%; /* 26/20 */
    border-radius: 8px;
    background-color: beige; /*тимчасово*/
}
.blocks__container h3 {
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 10px;
    background-color: rgb(155, 189, 4);
    border-radius: 8px;
}
.blocks__container div:first-child,
.blocks__container div:last-child {
    background-color: rgb(173, 183, 218);
}
.blocks__container div:nth-child(3) {
    background-color: aquamarine;
}
.header__container h2:last-of-type {
    color: brown;
    margin-bottom: 30px;
}
.first_block h3:hover{
    letter-spacing: 11px;
    font-size: 35px;
    color: rgb(160, 16, 16);
}
.second_block h3:active{
    font-size: 0;
}
.second_block h3:active::before {
    content: url(../img/dog.png);
}
.third_block a {
    display: block;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 10px;
    background: rgb(155, 189, 4);
    border-radius: 8px;
}
.third_block a:visited {
    background-color: rgb(174, 179, 156);
}
.fourth_block a:focus {
    border: 4px double rgb(31, 211, 31)    ;
}
.fifth_block h4 {
    display: none;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 10px;
    background: rgb(155, 189, 4);
    border-radius: 8px;
}
.fifth_block h4:target {
    display: block;
}
.links {
    display: inline-block;
}
._link {
    font-size: 25px;
    line-height: 120%; /* 30/25 */
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: bisque;
    padding: 10px;
    border-radius: 9px;
    outline: 3px solid gray;
    margin-right: 20px;
}
._link:hover {
    text-decoration: underline;
}

/* GAME */

.game_container {
    width: 100%;
    background: linear-gradient(90deg, rgba(175,77,18,1) 7%, rgba(20,175,18,1) 39%, rgba(10,82,200,1) 61%, rgba(255,229,0,1) 89%);
    padding: 20px 0;
}
.game_title {
    text-align: center;
    font-size: 45px;
    line-height: 115.555556%; /* 52/45 */
    font-weight: 700;
    color: rgb(251, 255, 0);
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-shadow: 5px 5px 7px rgba(255, 255, 255, 0.726);
}
/* max-width не задавав спеціально, гра нормально функціонує на 1920 */
.game_block {
    width: 1420px;
    margin: 0 auto;
    background-color: black;
    color: aliceblue;
    font-size: 0;
    margin-bottom: 30px;
}
[class*="block_"] {
    background-color: rgb(39, 97, 97);
}
.game_block_1 {
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 16px;
}
.game_block_1:hover {
    font-size: 0;
}
.game_block_1:hover::before {
    content: "";
    background: url(../img/game_dog.png);
    display: inline-block;
    background-size: contain;
    width: 40px;
    height: 50px;
}
.game_block_2{
    height: 37px;
    width: 710px;
    visibility: hidden; 
}
.game_block_1:hover ~ .game_block_2,
.game_block_2:hover {
    visibility: visible;
}
/* нагадую, каша з відступами зумовлена грою =) */
.game_block_3 {
    height: 74px;
    width: 25px;
    margin-left: 685px; 
    visibility: hidden;
}
.game_block_2:hover ~ .game_block_3,
.game_block_3:hover {
    visibility: visible;
}
.game_block_4 {
    height: 30px;
    width: 630px;
    margin-left: 305px;
    visibility: hidden;
}
.game_block_3:hover ~ .game_block_4,
.game_block_4:hover {
    visibility: visible;
}
.double_block div {
    display: inline-block;
}
.game_block_5 {
    height: 80px;
    width: 20px;
    margin-left: 305px;
    visibility: hidden;
}
.game_block_6 {
    height: 80px;
    width: 20px;
    margin-left: 590px;
    visibility: hidden;
}
.game_block_4:hover ~ .double_block .game_block_5,
.game_block_5:hover {
    visibility: visible;
}
.game_block_4:hover ~ .double_block .game_block_6,
.game_block_6:hover {
    visibility: visible;
}
.game_block_7 {
    height: 12px;
    width: 100px;
    margin-left: -610px;
    visibility: hidden;
}
.game_block_8 {
    height: 12px;
    width: 100px;
    margin-left: 915px;
    visibility: hidden;
}
.game_block_9 {
    height: 250px;
    width: 35px;
    margin-top: -250px;
    background: url(../img/mouse.png) center / 14px fixed;
    visibility: hidden;
}
.game_block_6:hover ~ .game_block_8,
.game_block_8:hover {
    visibility: visible;
}
.game_block_8:hover ~ .game_block_9,
.game_block_9:hover {
    visibility: visible;
}
.game_block_5:hover ~ .game_block_7,
.game_block_7:hover {
    visibility: visible;
}
.game_block_10 {
    height: 220px;
    width: 10px;
    margin-left: 415px;
    margin-top: -12px;
    visibility: hidden;
}
.game_block_11 {
    height: 20px;
    width: 10px;
    margin-left: -10px;
    visibility: hidden;
}
.game_block_7:hover ~ .game_block_10,
.game_block_10:hover {
    visibility: visible;
}
.game_block_10:hover ~ .game_block_11,
.game_block_11:hover {
    visibility: visible;
}
.game_block_12 {
    width: 264px;
    height: 266px;
    margin-left: -40px;
    visibility: hidden;
}
.game_block_11:hover ~ .game_block_12,
.game_block_12:hover {
    visibility: visible;
}
.link_container {
    width: 1080px;
    margin: 0 auto;
    padding: 30px 0;
}
.link_container a {
    font-size: 25px;
    line-height: 120%; /* 30/25 */
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: bisque;
    padding: 10px;
    border-radius: 9px;
    outline: 3px solid gray;
    margin-right: 20px;
    display: inline-block;
}
.link_container a:hover {
    text-decoration: underline;
}