/* RESET */
@import url(reset.css);

/* FONTS */
@import url(fonts.css);

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="box"] {
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 5px;
}
[class*="title"] {
    font-weight: 600;
}
[class*="__input-none"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.page {
    background-color: #F8F8F8;
    font-family: "Proxima Nova";
    color: #2B2929;
}
.page__container {
    max-width: 770px;
    margin: 0 auto;
    padding: 40px 15px;
}
.form__title {
    font-size: 40px;
    line-height: 120%; /* 48/40 */
    margin-bottom: 40px;
}
/* --- */
.form [class*="box"]:first-of-type {
    border-radius: 8px 8px 0 0;
}
.form [class*="box"]:last-of-type {
    border-radius: 0 0 8px 8px;
}

.information {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.information__icon {
    flex-basis: 60px;
    overflow: hidden;
}
.information__title {
    font-size: 26px;
    line-height: 130.769231%; /* 34/26 */
} 
.input-block {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}
.input-block__full-name,
.input-block__contacts {
    display: flex;
    flex-direction: column;
    flex-basis: 325px;
    row-gap: 20px;
}
.input-block__item {
    border: 1px solid #d1d5d5;
    border-radius: 8px;
    padding: 10px 20px;
}
.input-block__item::placeholder {
    line-height: 187.5%; /* 30/16 */
    color: #535353;
}
.input-block__item:focus {
    outline: 2px solid #FFBC57;
}
.check {
    position: relative;
    display: flex;
    align-items: center;
}
.check__input-none:focus-visible + .check__label {
    outline: 2px solid #FFBC57;
    border-radius: 2px;
}
.check__label {
    line-height: 187.5%; /* 30/16 */
    color: #535353;
    cursor: pointer;
    border-radius: 4px;
}
.check__label::before {
    content: " ";
    width: 20px;
    height: 20px;
    border: 2px solid #B1B1B1;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.check__input-none:checked + .check__label::before {
    background: #FFBC57 url(../img/information-box/check.svg) center no-repeat;
    border: 0px;
}
/* --- */
.form__delivery-box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.choise-block {
    display: flex;
    gap: 15px 25px;
    flex-wrap: wrap;
}
.card {
    flex-basis: 210px;
    position: relative;
}
[class*="card__"] {
    transition-duration: 0.2s;
}
.card__input-none {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.card__input-none:hover + .card__items {
    background-color: #b1b1b133;
}
.card__input-none:focus-visible + .card__items {
    outline: 3px solid #ffbc57;
}
.card__input-none:checked + .card__items {
    outline: 3px solid #ffbc57;
}
.card__input-none:checked + .card__items > .card__picture {
    opacity: 0;
    transition-duration: 0.2s;
}
.card__input-none:checked + .card__items > .card__check {
    opacity: 1;
}
.card__items {
    row-gap: 10px;
    padding: 20px;
    outline: 3px solid #f8f8f8;
    border-radius: 8px;
}
.card__items,
.inform  {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card__items img {
    flex-basis: 40px;
}
.card__check {
    position: absolute;
    opacity: 0;
}
.inform__text {
  color: #2b2929;
  line-height: 187.5%; /* 30/16 */
}
.inform__price {
    color: #b1b1b1;
    font-size: 15px;
    line-height: 146.666667%; /* 22/15 */
}
.address {
    background-color:#f8f8f8;
    border-radius: 8px;
    padding: 20PX;
    display: flex;
    align-items: center;
}
.address__location-icon {
    flex-basis: 40px;
    margin-right: 20px;
}
.address__inform { 
    display: flex;
    flex-direction: column;
    margin-right: 89px;
}
.hours {
    line-height: 187.5%; /* 30/16 */;
}
.location {
    font-size: 20px;
    line-height: 140%; /* 28/20 */
    font-weight: 600;
}
.address__map-button {
    padding: 13px 20px;
    background-color: #FFBC57;
    border-radius: 8px;
    font-size: 19px;
    line-height: 126.315789%; /* 24/19 */
    color: #fff;
    font-weight: 600;
    flex-shrink: 0;
}
.address__map-button::before {
    content: "";
    background: url(../img/delivery-box/map-button.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}
.address__map-button:hover {
    background-color: #fca31d;
}
.address__map-button:focus-visible {
    outline: 2px solid #fca31d;
}
/* --- */
.pay-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-self: flex-start;
}
.pay-list > li {
    border-radius: 4px;
    transition-duration: 0.2s;
}
.pay-list > li:hover {
    background-color: #b1b1b141;
    transition-duration: 0.2s;
}
.pay-list__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    position: relative;
}
.pay-list__item > span {
    font-size: 17px;
    line-height: 141.176471%; /* 24/17 */
    display: flex;
    align-items: center;
}

.pay-list__item > span::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #B1B1B1;
    border-radius: 100%;
    margin-right: 12px;
    flex-shrink: 0;
}
.pay-list__item > img {
    flex-basis: 48px;
}
.pay-list__input-none:focus-visible + span {
    color: #d68100;
}
.pay-list__input-none:checked + span {
    color: #d68100;
}
.pay-list__input-none:checked + span::before {
    content: "";
    background: url(../img/payment-selection-box/payment-check-icon.svg) center;
    width: 20px;
    height: 20px;
    z-index: 2;
    border: 0px;
}
/* --- */
.comments {
    border: 1px solid #d1d5d5;
    border-radius: 8px;
    width: 100%;
    min-height: 150px;
    padding: 10px 20px;
    resize: vertical;
}
.comments::placeholder {
    line-height: 187.5%; /* 30/16 */
    color: #535353;
}
.comments:focus-visible {
    outline: 2px solid #ffbc57;
}