.header {
    background-color: rgba(0, 0, 0, 0.801);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(3px);

    // .header__container

    &__container {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 130px;
        display: flex;
        align-items: center;
        column-gap: 40px;
        justify-content: space-between;
        position: relative;

        @media (max-width: 768.98px) {
            min-height: 90px;
        }
    }
}

.nickname {
    font-family: "Exo 2", sans-serif;
    @include adaptiveValue("font-size", 30, 16);
    line-height: 66.666667%;
    /* 20/30 */
    letter-spacing: -2.51px;
    text-transform: capitalize;
    cursor: default;

    @media (max-width: 768.98px) {
        line-height: 125%;
        /* 20/16 */
        letter-spacing: -1.37px;
    }
}

.navigation-burger {
    display: none;

    @media (max-width: 1035.98px) {
        display: block;
        position: relative;
        height: 40px;
        flex: 0 0 40px;

        &::after,
        &::before,
        span {
            content: "";
            position: absolute;
            left: 5px;
            width: 30px;
            height: 3px;
            border-radius: 5px;
            background-color: #fff;
            transition-duration: 0.3s;
        }

        span {
            top: 50%;
        }

        &::after {
            top: 70%;
        }

        &::before {
            top: 30%;
        }
    }

    &.active {
        span {
            transform: scale(0);
        }

        &::after {
            transform: rotate(45deg);
            top: 50%;
        }

        &::before {
            transform: rotate(-45deg);
            top: 50%;
        }

        &+.navigation-block {
            right: 0;
        }
    }
}

.navigation-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 60px;
    max-width: 794px;

    // .navigation-block__item

    &__item {
        font-family: "Orbitron", sans-serif;
        font-size: 16px;
        line-height: math.div(20, 16);
        font-weight: 500;
        padding: 10px;
        text-transform: uppercase;
        transition-duration: 0.3s;

        @media (any-hover: hover) {
            &:hover {
                background-color: $hov-color;
                transition-duration: 0.3s;
            }
        }
    }

    @media (max-width: 1169.98px) {
        column-gap: 30px;
    }

    @media (max-width: 1035.98px) {
        position: absolute;
        top: 99.4%;
        right: -300px;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        padding: 0 60px 20px 20px;
        background-color: rgba(0, 0, 0, 0.801);
        border-radius: 0 0 0 10px;
        transition-duration: 0.3s;
        backdrop-filter: blur(3px);

        &__item:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 768.98px) {
        align-items: center;
        padding: 0 0 60px 0;
        right: -1000px;
        width: 100%;
        font-size: 36px;
        border-radius: 0 0 10px 10px;
    }
}

.social-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 24px;
    max-width: 98px;

    * {
        transition-duration: 0.3s;
    }

    // .social-block__item

    &__item {
        @media (any-hover: hover) {
            &:hover {
                background-color: #6f00a9;
            }

            &:hover img {
                transform: scale(1.5);
            }
        }
    }

    // .social-block__icon

    &__icon {
        object-fit: contain;
        aspect-ratio: 20 / 20;
        max-width: 20px;
    }
}