.portfolio-section {
    background: url(../img/page/portfolio-section/background.png) 0 / 100% no-repeat;
    margin-bottom: 200px;

    @media (max-width: 906.98px) {
        background: none;
    }

    // .portfolio-section__container

    &__container {
        padding-top: 80px;
        position: relative;
        cursor: default;
    }

    // .portfolio-section__title

    &__title {
        position: relative;
        display: inline-block;
        margin-bottom: 140px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -18%;
            width: calc(100% + 33.74%);
            max-width: 1273px;
            height: 1px;
            background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 50%, rgba(36, 0, 255, 1) 100%);
        }
    }

    // .portfolio-section__slides-block

    &__slides-block {
        display: flex;
        column-gap: 40px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    @media (max-width: 962.98px) {
        &__title {
            margin-bottom: 80px;
        }
    }

    @media (max-width: 768.98px) {
        &__title {
            margin-bottom: 24px;
        }
    }
}

.arrow {
    background-repeat: no-repeat;
    width: 203px;
    height: 39px;
    -webkit-mask-image: url(../img/page/portfolio-section/arrow.svg);
    mask-image: url(../img/page/portfolio-section/arrow.svg);
    animation: arrow-slide 3s linear infinite;
    background-image: linear-gradient(90deg, hsl(0, 100%, 50%) 0%, hsl(104, 100%, 50%) 48.9%, hsl(248, 100%, 50%) 100%);
    position: absolute;
    top: 28.76%;
    right: 20px;

    @keyframes arrow-slide {
        0% {
            background-position: -200px;
        }

        100% {
            background-position: 200px;
        }
    }

    @media (max-width: 906.98px) {
        display: none;
    }
}

.card {
    display: flex;
    flex-direction: column;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    position: relative;

    * {
        transition-duration: 0.3s;
    }

    // .card__link

    &__link {
        position: relative;
        margin-bottom: 40px;

        &::before {
            content: "";
            position: absolute;
            top: 54%;
            left: 19%;
            background: url(../img/page/portfolio-section/play-video.svg) 0 0 / 100% no-repeat;
            width: 62.5%;
            height: 11.1%;
            transition-duration: 0.3s;
            opacity: 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 36.1%;
            left: 36.1%;
            background: url(../img/page/portfolio-section/play-button.svg) 0 0 / 100% no-repeat;
            width: 27.7%;
            height: 27.7%;
            transition-duration: 0.3s;
        }

        @media (any-hover: hover) {
            &:hover {

                &::after {
                    top: 28%;
                }

                &::before {
                    opacity: 1;
                    top: 61.25%;
                }
            }
        }

        @media (max-width: 768.98px) {
            &:hover {
                &::after {
                    transform: scale(1.2);
                }
            }
        }
    }

    // .card__border-hover

    &__border-hover {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border: 10px solid #9900ff00;
            transition-duration: 0.3s;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            pointer-events: none;
            transition-duration: 0.3s;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            div {
                &::after {
                    border: 10px solid #9700ff;
                }

                &::before {
                    background-color: rgba(0, 0, 0, .25);
                }
            }
        }
    }

    // .card__picture

    &__picture {
        aspect-ratio: 360 / 360;
        min-width: 360px;
        width: 100%;
        object-fit: cover;
    }

    // .card__caption

    &__caption {
        @include adaptiveValue("font-size", 40, 14);
        @include adaptiveValue("line-height", 40, 15);
        text-transform: uppercase;
        text-align: center;
    }

    @media (max-width: 1203.98px) {
        &__picture {
            min-width: 280px;
        }
    }

    @media (max-width: 656.98px) {
        &__picture {
            min-width: 193px;
        }
    }

    @media (max-width: 768.98px) {
        &__link {
            margin-bottom: 21.45px;
        }
    }
}