.hero-section {
    overflow: hidden;
    margin-bottom: 80px;

    @media (max-width: 906.98px) {
        overflow: visible;
        margin-bottom: 0;
    }

    // .hero-section__container

    &__container {
        display: flex;
        position: relative;

        &::before,
        &::after {
            content: "";
            background: $el-l-gradient;
            aspect-ratio: 1 / 1;
            width: 36.62%;
            border-radius: 100%;
            filter: blur(70px) opacity(0.25);
            position: absolute;
        }

        &::before {
            animation: circle 15s ease-in-out infinite;
        }

        &::after {
            animation: circle-second 15s ease-in-out infinite;
        }

        @keyframes circle {
            0% {
                top: percent(-130, 601);
                left: percent(-222, 1273);
            }

            35% {
                top: percent(255, 601);
                left: percent(980, 1273);
            }

            70% {
                top: percent(255, 601);
                left: percent(-240, 1273);
            }

            100% {
                top: percent(-130, 601);
                left: percent(-240, 1273);
            }
        }

        @keyframes circle-second {
            0% {
                top: percent(255, 601);
                left: percent(980, 1273);
            }

            35% {
                top: percent(-130, 601);
                left: percent(-240, 1273);
            }

            70% {
                top: percent(-130, 601);
                left: percent(980, 1273);
            }

            100% {
                top: percent(255, 601);
                left: percent(980, 1273);
            }
        }

        @media (max-width: 906.98px) {

            &::before,
            &::after {
                display: none;
            }
        }
    }

    // =========== //

    .owner {
        font-family: "Exo", sans-serif;
        flex: 0 0 656.5px;
        width: 100%;
        @include adaptiveValue("padding-top", 120, 3);
        @include adaptiveValue("padding-bottom", 160, 102);
        cursor: default;
        z-index: 6;

        // .owner__inner

        &__inner {
            max-width: 584px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-grow: 0;
            row-gap: 20px;
        }

        // .owner__name

        &__name {
            font-size: clamp(14px, calc(14px + (18 - 14) * ((100vw - 393px) / (1920 - 393))), 18px);
            line-height: 111.111111%;
            /* 20/18 */
            letter-spacing: -0.25px;
            text-transform: uppercase;

            &::after {
                content: "";
                background: $l-gradient;
                display: block;
                width: 100%;
                height: 1px;
                min-width: 126.67%;
                margin-top: 9px;
            }
        }

        // .owner__specialty

        &__specialty {
            @include adaptiveValue("font-size", 80, 32);
            @include adaptiveValue("line-height", 70, 35);
            font-weight: 700;
            text-transform: uppercase;
        }

        // .owner__slogan

        &__slogan {
            font-size: clamp(14px, calc(14px + (18 - 14) * ((100vw - 393px) / (1920 - 393))), 18px);
            line-height: 222.222222%;
            /* 40/18 */
            letter-spacing: -0.32px;
            text-transform: capitalize;
        }

        // .owner__contact-link

        &__contact-link {
            padding: 15px 60px;
            background-color: $but-color;
            transition-duration: 0.3s;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $but-hov-color;
                    transition-duration: 0.3s;
                }
            }

            span {
                font-family: "Orbitron", sans-serif;
                font-size: clamp(14px, calc(14px + (20 - 14) * ((100vw - 393px) / (1920 - 393))), 20px);
                line-height: 100%;
                /* 20/20 */
                font-weight: 900;
                text-transform: uppercase;
            }
        }

        @media (max-width: 1190.98px) {
            flex-shrink: 1;
        }

        @media (max-width: 1003.98px) {
            padding-bottom: 102px;
        }

        @media (max-width: 620.98px) {

            &__inner {
                row-gap: 12px;
            }

            &__name {
                line-height: 107.142857%;

                /* 15/14 */
                &::after {
                    margin-top: 4px;
                    min-width: 117.1%;
                }
            }

            &__slogan {
                line-height: 107.142857%;
                /* 15/14 */
                letter-spacing: -0.192px;
            }

            &__contact-link {
                padding: 8px 40px;

                span {
                    line-height: 142.857143%;
                    /* 20/14 */
                }
            }
        }
    }

    // =========== //

    .composition-block {
        padding-top: 92px;
        display: flex;
        justify-content: center;
        flex: 0 0 688px;
        width: 100%;
        height: 100%;

        // .composition-block__inner

        &__inner {
            position: relative;
            flex: 0 1 376px;
            width: 100%;

            &::after {
                display: none;
            }
        }

        // .composition-block__photo

        &__photo {
            position: relative;
            object-fit: contain;
            aspect-ratio: 376 / 508;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        // .composition-block__icon-premiere
        &__icon-premiere,
        &__icon-aftereffects {
            position: absolute;
            object-fit: cover;
        }

        &__icon-premiere {
            top: percent(22, 508);
            left: percent(-141, 376);
            max-width: 46.28%;
        }

        // .composition-block__icon-aftereffects

        &__icon-aftereffects {
            top: percent(74, 508);
            left: percent(353, 376);
            max-width: 27.93%;
        }

        // (decoration) //

        &__lightning,
        &__lightning-mirror {
            position: absolute;
            bottom: 0;
        }

        // .composition-block__lightning

        &__lightning {
            height: percent(316, 508);
            width: percent(354, 376);
            left: percent(-166, 376);
        }

        // .composition-block__lightning-mirror

        &__lightning-mirror {
            height: percent(287, 508);
            width: percent(322, 376);
            left: percent(200, 376);
        }

        @media (max-width: 1290.98px) {
            flex-shrink: 1;
        }

        @media (max-width: 1144.98px) {
            padding-top: 17px;

            &__icon-premiere {
                left: percent(-80, 376);
            }

            &__icon-aftereffects {
                left: percent(285, 376);
            }
        }

        @media (max-width: 1004.98px) {

            &__icon-premiere {
                max-width: 40.28%;
                left: percent(-45, 376);
            }
        }

        @media (max-width: 906.98px) {

            &__inner {
                &::after {
                    content: "";
                    display: block;
                    aspect-ratio: 376 / 508;
                    width: 100%;
                    height: 100%;
                }
            }

            &__icon-premiere,
            &__icon-aftereffects {
                z-index: 5;
            }

            &__icon-premiere {
                top: 0;
                left: 0;
                transform: rotate(26deg);
                height: 28.73%;
                max-width: 35.12%;
                width: 100%;
            }

            &__icon-aftereffects {
                position: absolute;
                top: percent(17, 147);
                left: percent(36, 109);
                max-width: 27.93%;
                width: 100%;
                transform: rotate(-10deg);
            }

            &__lightning {
                left: 26%;
                top: 60px;
            }

            &__lightning-mirror {
                display: none;
            }
        }

        @media (max-width: 904.98px) {
            &__lightning {
                left: 19%;
            }
        }

        @media (max-width: 768.98px) {
            padding-top: 0;

            &__inner {
                &::after {
                    aspect-ratio: 376 / 508;
                    width: 100%;
                    min-height: 148px;
                }
            }

            &__lightning {
                left: 21%;
                top: 40px;
            }
        }

        @media (max-width: 487.98px) {
            &__photo {
                aspect-ratio: 177 / 260;
                max-width: 177px;
                object-fit: contain;
            }
        }

        @media (max-width: 463.98px) {

            &__lightning {
                top: 60px;
            }
        }
    }

    .block-adaptive {
        display: flex;
        justify-content: center;
        position: relative;

        // .block-adaptive__box

        &__box {
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                background: $el-l-gradient;
                aspect-ratio: 1 / 1;
                ;
                border-radius: 100%;
                width: 55.2%;
                filter: blur(50px) opacity(0.3);
            }

            &::before {
                animation: b-circle 15s ease-in-out infinite;
            }

            &::after {
                animation: b-circle-second 15s ease-in-out infinite;
            }

            @keyframes b-circle {
                0% {
                    top: percent(20, 508);
                    left: percent(-100, 376);
                }

                35% {
                    top: percent(298, 508);
                    left: percent(268, 376);
                }

                70% {
                    top: percent(298, 508);
                    left: percent(-100, 376);
                }

                100% {
                    top: percent(20, 508);
                    left: percent(-100, 376);
                }
            }

            @keyframes b-circle-second {
                0% {
                    top: percent(298, 508);
                    left: percent(268, 376);
                }

                35% {
                    top: percent(20, 508);
                    left: percent(-100, 376);
                }

                70% {
                    top: percent(20, 508);
                    left: percent(268, 376);
                }

                100% {
                    top: percent(298, 508);
                    left: percent(268, 376);
                }
            }

            @media (min-width: 906.98px) {

                &::before,
                &::after {
                    display: none;
                }
            }

            @media (max-width: 768.98px) {

                @keyframes b-ircle {
                    0% {
                        top: percent(17, 260);
                        left: percent(-72, 177);
                    }

                    35% {
                        top: percent(147, 260);
                        left: percent(130, 177);
                    }

                    70% {
                        top: percent(147, 260);
                        left: percent(-72, 177);
                    }

                    100% {
                        top: percent(17, 260);
                        left: percent(-72, 177);
                    }
                }

                @keyframes b-circle-second {
                    0% {
                        top: percent(147, 260);
                        left: percent(130, 177);
                    }

                    35% {
                        top: percent(17, 260);
                        left: percent(-72, 177);
                    }

                    70% {
                        top: percent(17, 260);
                        left: percent(130, 177);
                    }

                    100% {
                        top: percent(147, 260);
                        left: percent(130, 177);
                    }
                }
            }

            @media (max-width: 487.98px) {

                &::before,
                &::after {
                    filter: blur(36px) opacity(0.3);
                }
            }
        }

    }
}